# API key for enabling mapbox-gl-js integration
# https://docs.mapbox.com/help/getting-started/access-tokens/#how-access-tokens-work
MAPBOX_API_KEY=YOUR_KEY_HERE
# API key for enabling National Renewable Energy Laboratory integration
# https://developer.nrel.gov/docs/api-key/
NREL_API_KEY=YOUR_KEY_HERE